<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
<style type="text/css">
  #map {
    width: 100%;
    height: 400px;
  }
</style>
<body>
  <h1>GMaps.js &mdash; Geocoding</h1>
  <div class="row">
    <div class="span11">
      <form method="post" id="geocoding_form">
        <label for="address">Address:</label>
        <div class="input">
          <input type="text" id="address" name="address" />
          <input type="submit" class="btn" value="Search" />
        </div>
      </form>
      <div id="map"></div>
    </div>
  </div>
  <script>
  var map;
    function initMap(){
          map = new GMaps({
          el: '#map',
          lat: 1.3521,
          lng: 103.8198,
          zoom: 11
    });

    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWBlNNTEM5LBqxM2ah4sopeKE9-rIujww&callback=initMap"
  type="text/javascript"></script>
</body>
